@font-face {
  font-family: '04b03';
  src:url('../assets/fonts/04b03.ttf.woff') format('woff'),
      url('../assets/fonts/04b03.ttf.svg#04b03') format('svg'),
      url('../assets/fonts/04b03.ttf.eot'),
      url('../assets/fonts/04b03.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
  color: white;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
canvas {
  flex: 0;
  border: 1px solid #111;
}
